<div class="participants_index">
  <h1>Participants</h1>
  <p><%= link_to "+ New Participant", new_participant_path, class: "add_participant shadow" %></p>

  <% if !@participants.empty? %>
    <%= render "participants", participants: @participants %>
  <% end %>  
</div>