<h1>Welcome to Event Manager</h1>
<h2>Create and manage your events by adding participants and locations to your events! </h2>
<h3>Please note that you must be signed in to use this application.</h3>
<h4>All links are located on the top navigation bar, or you can just click the links below as well! </h4>

<%= link_to "Sign Up", root_path %><br>
<%= link_to "Sign In", root_path %>