.events_index {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.events_index .add_event {
  text-decoration: none;
  border: 1px solid #0d8b8f;
  border-radius: 5px;
  background-color: #0d8b8f;
  padding: 5px;
  color: white;
}

.event_table {
  table-layout: fixed;
  width: 100%;
  margin: 40px auto;
}

.event_table td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 25%;
  text-align: center;
}

.event_table a {
  text-decoration: none;
  color: #aaa;
}

.event_table a:hover {
  color: #ccc;
}

/* event form */

.new_event h1, .edit_event h1 {
  text-align: center;
}

.event_fieldset {
  width: 40%;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
}

.event_fieldset input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 2px;
  margin-bottom: 13px;
  border-color: #fff;
}

.event_fieldset input[type="checkbox"] {
  display: inline-block;
  width: 5%;
}

.event_fieldset input[type="checkbox"] + label {
  display: inline-block;
  margin-left: 0;
  width: 43%;
}

.event_fieldset input[type="submit"] {
  background-color: #148572;
  border-color: #148572;
  padding: 5px;
  color: white;
}