.locations_index {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.locations_index .add_location {
  text-decoration: none;
  border: 1px solid #0d8b8f;
  border-radius: 5px;
  background-color: #0d8b8f;
  padding: 5px;
  color: white;
}

.locations_index p {
  margin-bottom: 30px;
}

.quick_location {
  width: 40%;
  border: 1px solid #ccc;
  margin: 0 auto;
  padding-bottom: 20px;
}

.quick_location input[type="submit"] {
  margin-top: 25px;
  border: 1px solid #159215;
  border-radius: 5px;
  background-color: #159215;
  padding: 5px;
  color: white;
}

.location_table {
  table-layout: fixed;
  width: 100%;
  margin: 40px auto;
}

.location_table td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 16%;
}

.location_table a {
  text-decoration: none;
  color: #aaa;
}

.location_table a:hover {
  color: #ccc;
}

/* location form */

.new_location h1, .edit_location h1 {
  text-align: center;
}

.location_fieldset {
  width: 40%;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
}

.location_fieldset input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 2px;
  margin-bottom: 13px;
  border-color: #fff;
}

.location_fieldset input[type="submit"] {
  background-color: #148572;
  border-color: #148572;
  padding: 5px;
  color: white;
}

/* location show */

#main_head {
  text-align: center;
}

#main_head a {
  text-decoration: none;
  color: #333;
}

#main_head a:hover {
  text-decoration: none;
  color: #ccc;
}

.location_details {
  border: 1px solid #ccc;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  position: relative;
}

.load_previous_location {
  position: absolute;
  font-size: 3em;
  left: 25px;
  top: 75px;
  text-decoration: none;
  color: #999;
}

.load_next_location {
  position: absolute;
  font-size: 3em;
  right: 25px;
  top: 75px;
  text-decoration: none;
  color: #999;
}

.location_events {
  text-align: center;
}

.load_location_events {
  text-decoration: none;
  border: 1px solid #0d8b8f;
  border-radius: 5px;
  background-color: #0d8b8f;
  padding: 5px;
  color: white;
}

.location_events .events ol {
  list-style-position: inside;
}

.location_events .events a {
  text-decoration: none;
  color: #444;
}

.location_events .events a:hover {
  color: #ddd;
}