.sessions_fieldset {
  width: 40%;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
}

.form_head {
  font-size: 1.5em;
  margin-top: 0;
}

.sessions_fieldset input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 2px;
  margin-bottom: 13px;
  border-color: #fff;
}

.sessions_fieldset input[type="submit"] {
  background-color: #148572;
  border-color: #148572;
  padding: 5px;
  color: white;
}

.facebook_signin {
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  margin: 0 auto;
  border: 1px solid #3812b5;
  border-radius: 5px;
  background-color: #3812b5;
  color: white;
  width: 36%;
  text-align: center;
  margin-top: 30px;
  padding: 30px 0;
}